$ff-placeholder-main-regular: "Actor", "Arial", sans-serif;
$ff-placeholder-main-bold: "AbhayaLibre-Semibold", "Arial", sans-serif;

$colorDark: #222222;
$colorFont: #F4F4F4;
;

:export {
    colorDark: $colorDark;
    colorFont: $colorFont;
}
